:root {
    --text-color: #000000;
    --white-color: #FBFBFB;
    --background-color: #e5e7e8;
    --lilac-color: #8091D0;
    --lighter-text: #222635;

    --text-color: #1A1A1A;
    --green-text-color: #728A52;
    --bg-beige: #FEFFD6;
    --bg-green: #D4E2B3;
    --button-hover-color: #B7CE98;
    --light-beige-text: #F5F2DC;
}

* {
    font-family: "Quicksand";
    color:  var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a { /*  For links */
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--bg-beige);
}

/* ============================================================
    Header Styles - Homepage
=============================================================== */

header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header-right {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    flex-shrink: 0;
    white-space: nowrap;
}

#header-left-side{
    flex-shrink: 0; 
    display: flex;
    align-items: center;
    padding-left: 30px;
}

#header-left-side img {
    height: 75px;
    width: auto;
    display: block;
}

#header-left-side img {
    height: 75px;
    width: auto;
    display: block;
    transition: 0.2s ease;
    cursor: url('./photos/cursor.png'), pointer;
}

#header-left-side a:hover img {
    content: unset;
    src: url('./photos/logohover.png');
}

#header-left-side a:active img {
    content: unset;
    src: url('./photos/logoactive.png');
}


.header-nav a {
    width: 15em;
    font-weight: 600;
    font-size: 1.2em;
    color: var(--text-color);
    padding: 5px 30px;
    border: 2px solid transparent;        /* use 2px to match hover */
    border-bottom: 5px solid transparent; /* same bottom thickness */
}

.header-nav a:hover {
    width: 15em;
    color: var(--text-color);
    border-radius: 20px; 
    background-color: var(--button-hover-color);
    border: solid 2px var(--text-color);
    border-bottom: solid 5px var(--text-color);
}

.header-nav a:active {
    width: 15em;
    color: var(--text-color);
    border-radius: 20px; 
    background-color: var(--green-text-color);
    border: solid 2px var(--text-color);
    border-bottom: solid 5px var(--text-color);
}

#header-contact a {
    cursor: default;
    pointer-events: none;
    color: var(--green-text-color);
}

#header-left-side:hover {
  cursor: url('./photos/cursor.png'), pointer;
}

.burger {
    display: none;
    font-size: 3rem;
    cursor: pointer;
    padding-left: 2rem;
    margin-top: -15px;
}


/* Hide nav on small screens by default */
@media (max-width: 768px) {
    .header-right {
        display: none;
        position: absolute;
        top: 80px;
        right: 2rem;
        background-color: var(--bg-beige);
        border: 2px solid var(--text-color);
        border-radius: 20px;
        flex-direction: column;
        font-size: 0.85em;
        gap: 10px;
        padding: 10px 30px;
        z-index: 1000;
    }

    .header-right.active {
        display: flex;
    }

    #header-contact {
        display: none;
    }

    .burger {
        display: block;
    }
}



/* ============================================================
    Main Styles - Homepage
=============================================================== */

main {
    background-color: var(--bg-green);
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    min-height: calc(100vh - 200px - 70px);
}


/* ============================================================
    Footer Styles - Homepage
=============================================================== */

footer {
    background-color: var(--bg-green);
    box-sizing: border-box;
    font-weight: 700;
    width: 100vw;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}

#footer-paragraph {
    padding-top: 5px;
    font-size: 0.8em;
}

#footer-image {
    height: 25px;
    width: auto;
    transition: transform 0.2s ease;
}

#footer-image:hover {
    transform: scale(1.08) rotate(8deg);
}

.bottom-email:hover, .resume-button:hover{
    color: var(--green-text-color);
}

.bottom-email:active, .resume-button:active{
    font-size: 0.9em;
    color: var(--green-text-color);
}

.resume-button {
    font-size: 0.9em;
    padding-right: 10px;
}

.resume-button:active {
    font-size: 0.8em;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ============================================================
    Main Styles - About page
=============================================================== */

#middle-title {
    margin-bottom: 100px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#middle-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px; 
    transform: translateX(-50%) scaleX(0.8);
    transform-origin: center;
    height: 4px;
    width: 100%;
    background-color: var(--green-text-color);
    transition: transform 0.6s ease;
    border-radius: 10px;
}

#middle-title:hover::after {
    transform: translateX(-50%) scaleX(1.7); /* expand from center */
}

#middle-title h2 {
    font-size: 2em;
    font-weight: 700;
}

.middle-box-contact {
    display: flex;
    padding: 30px 40px;
    border: solid 2px var(--text-color);
    border-radius: 5px;
    box-shadow: 6px 6px rgba(53, 122, 67, 0.5);
    background-color: var(--bg-beige);
}


#middle-contact-left {
    font-size: 1.4em;
    font-weight: 700;
    padding: 20px;
    line-height: 1.5em;
}


#email-contact {
    display: flex;
    gap: 20px;
}

#email-contact a {
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 1em;
    display: flex;
    gap: 20px;
}

#email-contact a:hover {
    color: var(--green-text-color)
}

#email-contact a:active {
    color: var(--green-text-color);
}

#phone-contact, #resume-contact {
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

#phone-contact #number {
    font-weight: 500;
    font-size: 1em;
    display: flex;
    gap: 20px;
}

#phone-contact #number:hover {
    color: var(--green-text-color);
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: var(--green-text-color);
    color: var(--light-beige-text);
    text-align: center;
    border-radius: 10px;
    padding: 3px 15px;
    font-size: 0.6em;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#linkedin-image {
    margin-left: 10px;
    height: 150px;
    width: auto;
    transition: transform 0.2s ease;
}

#linkedin-image:hover {
    width: auto;
    transform: rotate(10deg); 
}

@keyframes quick-rotate {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(-3deg); }
    50%  { transform: rotate(3deg); }
    75%  { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}

#linkedin-image:active {
    animation: quick-rotate 0.3s infinite;
}

.tumbleweed-container {
    position: relative;
    height: 120px;
    overflow: hidden;
}

.tumbleweed {
    position: absolute;
    bottom: 10px;
    left: -150px; 
    height: 100px;
    animation: none; /* start with no animation */
}


.roll-animation {
    animation: tumbleweed-roll 10s linear forwards; 
}

@keyframes tumbleweed-roll {
    0% {
        left: -150px;
        transform: rotate(0deg);
    }
    100% {
        left: 100vw;
        transform: rotate(1080deg); 
  }
}


@media (max-width: 768px) {
  .middle-box-contact {
    flex-direction: column;
    align-items: center; 
    gap: 1rem;     
    margin-top: -20px;      
  }

  #middle-title {
    margin-top: 50px;
  }
}

.tumbleweed-container {
    background-color: var(--bg-green); 
}