:root {
    --gray-color: #393939;
    --gray-hover: #504a4a;
    --gray-active: #2c2c2c;
    --greige-color: #F5F7F8;
    --blue-hover: rgb(0, 128, 255);
    --darker-greige: rgb(220, 228, 239);
}

* {
    font-family: 'Manrope', sans-serif;
    color:  var(--gray-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--greige-color);
}

/* ====================================================================================
Header
==================================================================================== */


#upper-header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

#upper-header a {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;     
    font-size: 1.5rem;
}

#upper-header a:hover {
    /* color: var(--blue-hover); */
    text-decoration: underline;
    text-underline-offset: 6px;
    /* text-decoration: line-through; */
      /* background: linear-gradient(to top, rgb(138, 187, 255) 0%, transparent 25%); */

}

#upper-header a:active {
    color: var(--blue-hover);
}

#header-right-side {
    display: flex;
    gap: 30px;
}

#header-left-side {
    margin-top: -10px;
}

#logo {
    height: 35px;
}

#logo-link {
    display: block;
    width: 60px;  
    height: 60px; 
    background-image: url('./photos/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#logo-link:hover {
    background-image: url('./photos/logo-hover.png');
}

#logo-link:active {
    background-image: url('./photos/logo-active.png');
}

#lower-header {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 30px;
}


#english, #spanish {
    width: 25px;
    height: 15px;
}


/* ====================================================================================
Footer
==================================================================================== */

footer {
    background-image: url('./photos/section3bg.png');
    background-size: cover;    
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 40px 160px;
}

#footer-left-side {
    display: flex;
    flex-direction: column;
}

footer h3 {
    font-family: "Manrope";
    font-size: 1.75rem;
    font-weight: 700;
    white-space: nowrap;
    margin-bottom: 15px;
}

footer a {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 15px;
}

footer a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

footer a:active {
    color: var(--blue-hover);
    text-decoration: underline;
    text-underline-offset: 6px;
}

footer img {
    width: 250px;
    height: auto;
}

#footer-right-side {
    position: relative;
}

#tiger-closed {
    display: none;
}

#footer-right-side:hover #tiger-open {
    display: none;
}

#footer-right-side:hover #tiger-closed {
    display: block;
}

@media (max-width: 749px) {
    footer {
        padding: 50px 30px 50px 30px;
        height: 320px;
    }
}


/* ====================================================================================
Section 1
==================================================================================== */

#section-one {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 350px;
    align-items: center;
    margin: 100px auto ; 

}

#section-one h2 {
    font-family: "Manrope";
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: -20px;
}

#section-one p {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 1.25rem; 
    text-align: center;
}

.bird-wrapper {
    cursor: url('./photos/cursorbird.png'), auto;
    position: relative;
    height: 160px;
    width: 160px;
}

.bird-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    pointer-events: none;
}

#section-one-bird {
    opacity: 1;
}

.bird-wrapper:hover #section-one-bird {
    opacity: 0;
}

.bird-wrapper:hover #bird-hover {
    opacity: 1;
}

.bird-wrapper:active #bird-hover {
    opacity: 0;
}

.bird-wrapper:active #bird-active {
    opacity: 1;
}


#section-one button {
    background-color: var(--gray-color);
    color: var(--greige-color);
    width: 160px;
    height: 50px;
    border-radius: 50px;
    font-size: 1rem; 
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

#section-one button:hover {
    background-color: var(--gray-hover);
}

#section-one button:active {
    background-color: var(--gray-active);
}

.typed-text {
    letter-spacing: 0.1rem;
}


/* ====================================================================================
Section 2
==================================================================================== */



#section-two{
    scroll-margin: -20px;;
    padding-top: 50px;
    background-color: var(--darker-greige);
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}


#section-two h3 {
    display: flex;
    text-align: center;
    font-family: "Manrope";
    font-weight: 900;
    font-size: 2rem;
    margin: 0 auto;
}

 #projects {
    background-color: var(--blue-purple);
    border-radius: 1rem;
    border: solid 10px var(--darker-greige);
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 30px;
    padding: 40px 20px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.project-card {
    margin-left: 20px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card-top {
    width: 350px;
    height: 450px;
    flex: 0 0 auto;
    background-color: var(--greige-color);
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px 25px;
    overflow: hidden;
    position: relative;
    border: 2px solid transparent;
    cursor: pointer;
}

.project-card-top:hover {
    border-color: var(--gray-color);
}

.project-card-text h4 {
    font-family: "Manrope";
    font-size: 1.2rem;
    font-weight: bold;
}

.project-card-text p {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.project-card img {
    margin: 20px auto 0 auto;
}

.project-card-iphone img {
    max-width: 70%;
    margin: 20px auto 0 auto;
}

#coming-soon {
    margin-top: 45px;
    max-width: 65%;
}

.project-card>button {
    background-color: var(--gray-color);
    color: var(--greige-color);
    padding: 10px 50px;
    border-radius: 50px;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
}

.project-card>button:hover {
    background-color: var(--gray-hover);
}

.project-card>button:active {
    background-color: var(--gray-active);
}


/* ====================================================================================
Section 3
==================================================================================== */

#section-three {
    background-color: var(--greige-color);
}

#section-three img {
    align-self: center;
    margin: 100px auto;
}

@media (max-width: 749px) {
    #section-three img {
        width: 80vw;
    }
}


/* ========================
Typewriter Effect
======================== */

.typewriter {
    overflow: hidden; 
    border-right: 0.1em solid var(--gray-color); 
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.05em;
    animation: typing 1s steps(12, end), blink-caret 0.5s step-end 0s 3.0 forwards;
    width: fit-content;
}

@keyframes typing {
    from { width: 0ch; }
    to { width: 9ch; }  
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--gray-color); }
}

#section-one p {
  animation: fadeIn 1s ease 1.2s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


@media (max-width: 430px) {
    #upper-header {
        padding: 20px;
    }

    #upper-header a {
        font-size: 1.2rem;
    }

    #header-right-side {
        gap: 20px;
    }

    #lower-header {
        margin-right: 20px;
        margin-top: -20px;
    }

    .project-card-top {
        width: 250px;
    }

    footer {
        height: 250px;
    }

    footer img {
        margin-left: 20px;
        margin-top: -20px;
    }

    footer h3 {
        font-family: "Manrope";
        font-size: 1.5rem;
        font-weight: 700;
        white-space: nowrap;
        margin-bottom: 10px;
        margin-top: -10px;
    }

    footer a {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 8px;
    }
}